.card{
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.img-perfil {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card .btn {
    border-radius: 10px;
    font-weight: 600;
}

.card .btn-lg {
    padding: 0,5rem 0;
}