body {
    background-image: url('/assets/Sombras.png');
    background-size: cover;       
    background-repeat: no-repeat;  
    overflow: hidden;
}

  #hemocard {
    width: 300px !important;
    height: 150px !important;
    display: flex;
    align-items: center;  
}

.navbar-nav .nav-link {
    color: rgb(78, 73, 109) !important;
    font-weight: 600;
}
.navbar-nav {
    margin: 0 auto; 
}



.Styleimplement {
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    
    /* estilos que você já tinha */
    width: 80%;
    height: 80px !important;
    margin-top: 60px;
    justify-content: center !important;
    left: 150px;
    box-shadow: 0px 4px 18px rgba(0,0,0,0.25);
}

.box-DoeVida{
    border-top-left-radius: 70px !important;
    border-bottom-left-radius: 70px !important;
    border-top-right-radius: 70px !important;
    border-bottom-right-radius: 70px !important;
    background-color: rgb(78, 73, 109);
    color: white !important;
    margin: 0 ;

}
.btn-outline-success {
    color: white !important;
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffffff;
    width: 130px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.btn-outline-success:hover{
    border-top-left-radius: 70px !important;
    border-bottom-left-radius: 70px !important;
    border-top-right-radius: 70px !important;
    border-bottom-right-radius: 70px !important;
     background-color: rgb(81, 68, 162);
}

.mb-lg-0 a{
    color: rgb(78, 73, 109) !important;
    font-size: 25px;
}


.hero {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 115%;
    padding: 40px 100px;
}

.hero-texto {
    flex: 1;
    max-width: 600px; 
}

.hero-texto h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    color: rgb(78, 73, 109);

}

.hero-texto p {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(78, 73, 109);

}

.hero-mascote img {
    width: 950px;   
    height: 700px;
    margin: -60px;
    display: block;
}
