html,
body {
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.exemplo-rolagem {
    height: 200px;
    
    overflow-y: scroll;

}

.centralizar {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    color: rgb(40, 40, 40);
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.alinhado {
    display: block;
    width: 100%;
}

.espaçosimples {
    margin-top: 10px;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #000000;
    
    color: white;
    padding: 40px 0;
}


.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer h3 {
    color: #ec0000;
    
}


.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.footer ul li a:hover {
    color: white;
}


.copy {
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
    font-size: 14px;
}