<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemocard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/stylecadastrar.css"
</head>
<body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary Styleimplement">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img id="hemocard" src="/assets/Logo-Head-HemoCard.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="comoAjudar.html">Como ajudar</a>
                </li>
               <li class="nav-item">
                <a class="nav-link" href="comoFunciona.html">Como funciona</a>
                </li>
                  <li class="nav-item">
                <a class="nav-link" href="minhaConta.html">Minha conta</a>
                </li>
        
            </ul>
            <div class="box-DoeVida">
                <a href="doeVida.html" class="btn btn-outline-success">
                    <b>Doe vida</b>
                </a>
            </div>
        </div>
        </nav>
         <div class="centralizar"><h1> Vamos Criar Uma Conta No HemoCard</h1></div>
         <div class="centralizar"><h5> Juntos iremos salvar vidas </h5></div>
        <div class="d-flex justify-content-center mt-5">
  <div style="width: 400px;">
    <div class="mb-3 ">

         <label for="inputPassword5" class="form-label espaçosimples">Nome Completo</label>
  <input type="text" class="form-control espaçosimples" placeholder="Nome Completo" aria-label="Username" aria-describedby="addon-wrapping">
</div>
<label for="inputPassword5" class="form-label espaçosimples">CPF</label>
  <input type="text" class="form-control espaçosimples" placeholder="CPF" aria-label="Username" aria-describedby="addon-wrapping">

  <label for="exampleFormControlInput1" class="form-label espaçosimples">Email</label>
  <input type="email" class="form-control espaçosimples" id="exampleFormControlInput1" placeholder="Nome@example.com">

<div id="passwordHelpBlock" class="form-text espaçosimples">

</div>
  <label for="inputPassword5" class="form-label espaçosimples">Telefone (WhatsApp)</label>
  <input type="text" class="form-control espaçosimples" placeholder="Telefone (WhatsApp)" aria-label="Username" aria-describedby="addon-wrapping">
  
  <label for="inputPassword5" class="form-label espaçosimples">Senha</label>
<input type="password" id="inputPassword5" class="form-control espaçosimples" aria-describedby="passwordHelpBlock">

  <label for="inputPassword5" class="form-label espaçosimples">Confirmação de Senha</label>
<input type="password" id="inputPassword5" class="form-control espaçosimples" aria-describedby="passwordHelpBlock">

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input espaçosimples" id="exampleCheck1">
    <label class="form-check-label espaçosimples" for="exampleCheck1">Lê e Concordo com os termos</label>

    <a href="/templates/index.html" class="btn btn-primary w-100 espaçosimples">Concluido</a>
    <a href="doeVida.html" class="btn btn-outline-success"></a>
    </div>
</div> 
</div>
</body>

<footer class="footer">
    <div class="container">
        <div class="coluna">
            <h3>HemoCard</h3>
            <ul>
                Email: hemocard@central.com.org
            </ul>
        </div>

        <div class="coluna">
            <h3>Dúvidas</h3>
            <ul>
                Central De Atendimento:
                4002-8922
            </ul>
        </div>

        <div class="coluna">
            <h3>Fale conosco</h3>
            <p>De Segunda a Sexta<br>Das 9:30 às 17:00</p>
        </div>

        <div class="coluna">
            <h3>Baixe nosso App</h3>
            <img src="/assets/GooglePng.png" width="50">
        </div>
    </div>
    
    <p class="copy">© 2025 – Todos direitos reservados ao HemoCard</p>
</footer>

</div>