<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemocard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/stylecomoajudar.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary Styleimplement">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><img id="hemocard" src="/assets/Logo-Head-HemoCard.png"
                    alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="comoAjudar.html">Como ajudar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="comoFunciona.html">Como funciona</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="minhaConta.html">Login </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="perfil.html">Perfil</a>
                    </li>

                </ul>
                <div class="box-DoeVida">
                    <a href="doeVida.html" class="btn btn-outline-success">
                        <b>Doe vida</b>
                    </a>
                </div>

            </div>
    </nav>

    <section class="container mt-5 mb-5">
        <h2 class="text-center mb-4 fw-bold text-purple"> Como ajudar</h2>
        <div class="fs-5 text-body">

            <p> <strong class="text-purple">Como doar sangue:</strong><br>
                Vá até um <strong>hemocentro ou hospital autorizado</strong>, faça o cadastro e siga o processo guiado
                pela equipe de saúde. O procedimento é rápido, seguro e totalmente confidencial.</p>

            <p><strong class="text-purple">Documentos necessários (Brasil):</strong><br>
                É obrigatório levar um <strong>documento oficial com foto</strong>. São aceitos:<br>
                👉 RG ou CIN (nova identidade)<br>
                👉 CNH (Carteira Nacional de Habilitação)<br>
                👉 Carteira de Trabalho (CTPS)<br>
                👉 Passaporte<br>
                ✅ Cartão do SUS é opcional (mas ajuda na triagem)<br>
                ⚠ Idade 16–17 anos exige autorização do responsável</p>

            <p><strong class="text-purple">Requisitos básicos para doação:</strong><br>
                ✔ Ter entre 16 e 69 anos<br>
                ✔ Pesar no mínimo 50kg<br>
                ✔ Estar saudável (sem gripe, febre ou infecção recente)<br>
                ✔ Dormir pelo menos 6 horas antes<br>
                ✔ Não estar em jejum (coma algo leve)<br>
                ✔ Evitar alimentos gordurosos 3h antes da coleta</p>

            <p><strong class="text-purple">Etapas do processo:</strong><br>
                1️⃣ Cadastro no local<br>
                2️⃣ Triagem rápida (pressão, peso, hemoglobina e temperatura)<br>
                3️⃣ Entrevista confidencial e sigilosa<br>
                4️⃣ Coleta (8 a 15 minutos, cerca de 450ml)<br>
                5️⃣ Descanso e lanche oferecido</p>

            <p><strong class="text-purple">Intervalo entre doações:</strong><br>
                👦 Homens → 60 dias (até 4x no ano)<br>
                👩 Mulheres → 90 dias (até 3x no ano)</p>

            <p><strong class="text-purple">Impedimentos temporários:</strong><br>
                ❗ Consumo de álcool nas últimas 12h<br>
                ❗ Tatuagem ou piercing recente (pode exigir aguardar até 12 meses)<br>
                ❗ Medicamentos ou cirurgias recentes<br>
                ❗ Gripe ou febre (aguardar 7 dias após melhora)</p>

            <p><strong class="text-purple">Dicas importantes:</strong><br>
                ✅ Beber bastante água no dia da doação<br>
                ✅ Ir alimentado (refeição leve)<br>
                ✅ Evitar esforço físico por 24 horas após doar<br>

            </p>

        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="coluna">
                <h3>HemoCard</h3>
                <ul>
                    Email: hemocard@central.com.org
                </ul>
            </div>

            <div class="coluna">
                <h3>Dúvidas</h3>
                <ul>
                    Central De Atendimento:
                    4002-8922
                </ul>
            </div>

            <div class="coluna">
                <h3>Fale conosco</h3>
                <p>De Segunda a Sexta<br>Das 9:30 às 17:00</p>
            </div>

            <div class="coluna">
                <h3>Baixe nosso App</h3>
                <img src="/assets/GooglePng.png" width="50">
            </div>
        </div>

        <p class="copy">© 2025 – Todos direitos reservados ao HemoCard</p>
    </footer>

</body>

</html>