<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemocard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/styleminhaconta.css">
</head>

<body>

    
      <nav class="navbar navbar-expand-lg bg-body-tertiary Styleimplement">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><img id="hemocard" src="/assets/Logo-Head-HemoCard.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="comoAjudar.html">Como ajudar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="comoFunciona.html">Como funciona</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="minhaConta.html">Login </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="perfil.html">Perfil</a>
                    </li>

                </ul>
                <div class="box-DoeVida">
                    <a href="doeVida.html" class="btn btn-outline-success">
                        <b>Doe vida</b>
                    </a>
                </div>

            </div>
    </nav>

    <h1 class="centralizar">Bem-vindo</h1>
    <div class="centralizar">Você pode entrar com seu e-mail ou CPF</div>


    <div class="d-flex justify-content-center ">
        <div class="w-50 d-flex align-items-center justify-content-around ">
            <div class="w-50 justify-content-center formularioTamanho mb-5 " style="height: 300px;">

                <div class="mb-3">
                    <label class="form-label">Email ou CPF</label>
                    <input type="email" placeholder="Email ou CPF" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Senha</label>
                    <input type="password" placeholder="Senha" class="form-control">
                    <a href="/templates/TrocarSenha.html" class="senhaesquecida">Trocar Senha</a>
                </div>
                 <a href="/templates/doeVida.html" class="btn btn-primary w-100 ">Entrar</a>
                <a href="/templates/cadastrar.html" class="btn btn-primary w-100 espaçosimples houverbranco">Cadastrar</a>
            </div>
        </div>

        <div class="d-flex align-items-baseline centralizar  ">
            <img src="/assets/Mascote HemoCard.png" class="img-morcego mb-5" alt="Mascote">
        </div>
      </div>
    </div>

<footer class="footer ">
    <div class="container">
        <div class="coluna">
            <h3>HemoCard</h3>
            <ul>
                Email: hemocard@central.com.org
            </ul>
        </div>

        <div class="coluna">
            <h3>Dúvidas</h3>
            <ul>
                Central De Atendimento:
                4002-8922
            </ul>
        </div>

        <div class="coluna">
            <h3>Fale conosco</h3>
            <p>De Segunda a Sexta<br>Das 9:30 às 17:00</p>
        </div>

        <div class="coluna">
            <h3>Baixe nosso App</h3>
            <img src="/assets/GooglePng.png" width="50">
        </div>
    </div>

    <p class="copy">© 2025 – Todos direitos reservados ao HemoCard</p>
</footer>

</body>
</html>
