<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemocard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/styleperfil.css">


</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary Styleimplement">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><img id="hemocard" src="/assets/Logo-Head-HemoCard.png"
                    alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="comoAjudar.html">Como ajudar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="minhaConta.html">Login </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="perfil.html">Perfil</a>
                    </li>

                </ul>
                <div class="box-DoeVida">
                    <a href="doeVida.html" class="btn btn-outline-success">
                        <b>Doe vida</b>
                    </a>
                </div>
            </div>
    </nav>


    <div class="card shadow-lg p-4 d-flex flex-row align-items-start gap-4 mt-5 my-5">
        <div class="text-center" style="min-width: 200px;">
            <img src="/assets/FotoPerfil.jpg" class="rounded-circle border border-3 img-perfil" alt="Foto de perfil">

            <h2 class="fw-bold mt-3">Ycaro Silva</h2>
            <p class="text-muted">Doador ativo | Tipo sanguíneo: <b>O+</b></p>

            <button class="btn btn-primary w-100 mt-2">Editar foto</button>
        </div>

        <div class="flex-fill">

            <h4 class="mb-3">Informações Pessoais</h4>

            <div class="row mb-2">
                <div class="col-md-6">
                    <p><strong>Email:</strong> ycaro@example.com</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Telefone:</strong> (83) 98888-0000</p>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <p><strong>CPF:</strong> 000.000.000-00</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Data de nascimento:</strong> 12/03/1999</p>
                </div>
            </div>

            <hr class="my-4">

            <h4 class="mb-3">Últimas doações</h4>
            <ul>
                <li>05/09/2025 - Hemocentro de Campina Grande</li>
                <li>15/06/2025 - Hemocentro de João Pessoa</li>
            </ul>

            <hr class="my-4">

            <div class="d-flex gap-3">
                <a href="#" class="btn btn-danger btn-lg w-25">Excluir Conta</a>
                <a href="#" class="btn btn-success btn-lg w-25">Editar Perfil</a>
                <a href="doeVida.html" class="btn btn-secondary btn-lg w-25">Doe Vida!</a>
            </div>

        </div>

    </div>

    <footer class="footer">
        <div class="container">
            <div class="coluna">
                <h3>HemoCard</h3>
                <ul>
                    Email: hemocard@central.com.org
                </ul>
            </div>

            <div class="coluna">
                <h3>Dúvidas</h3>
                <ul>
                    Central De Atendimento:
                    4002-8922
                </ul>
            </div>

            <div class="coluna">
                <h3>Fale conosco</h3>
                <p>De Segunda a Sexta<br>Das 9:30 às 17:00</p>
            </div>

            <div class="coluna">
                <h3>Baixe nosso App</h3>
                <img src="/assets/GooglePng.png" width="50">
            </div>
        </div>

        <p class="copy">© 2025 – Todos direitos reservados ao HemoCard</p>
    </footer>
</body>

</html>